.quotesDiv {
  margin: 0px auto;
  width: 50%;
  color: var(--darkBlue);
  font-family: 'Poppins';
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .quotesDiv {
    width: 90%;
  }
}

.quotesDiv > h1 {
  font-weight: 600;
}

.quoteCard {
  width: 80%;
  margin: 0px auto;
}

.quotesTextParagraph {
  text-align: justify;
  font-weight: 500;
}

.owner {
  text-align: right;
}
