#intro-section {
  color: var(--darkBlue);
  margin-top: 4rem;
}

.desc::first-letter {
  color: black;
  font-size: 50px;
}


.para-dark-blue {
  color: var(--darkBlue);
  font-weight: 700;
  font-size: 18px;
  line-height: 35px;
  font-family: 'Poppins';
}

.firstcharacter {
  font-size: 50px;
}

.intro-header {
  font-family: 'Poppins';
  font-size: 48px;
  margin-bottom: 20px;
}

.intro-illustration {
  width: 450px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 6rem;
}

.spacer-bottom {
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  #intro-section {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }
}

@media (max-width: 991px) {
  .intro-illustration {
    display: none;
  }
}
