header {
    color: var(--darkBlue);
    box-shadow: var(--btn-box-shadow);
    font-weight: bold;
}

.active {
    background-color: var(--secondary-text-color) !important;
    color: var(--lightBlue) !important;
    border-radius: 10px !important;
    box-shadow: var(--btn-box-shadow) !important;
    font-weight: bold;
}

.logoDiv {
    position: absolute;
    width: 140px;
    height: 71px;
    top: 0;
    background-color: var(--secondary-text-color);
    box-shadow: var(--btn-box-shadow);
    border-radius: 0 0 30px 0;
}

@media only screen and (max-width: 385px) {
    .navUl > li > a{
        font-size: 14px;
    }

}

@media all and (min-width: 0) and (max-width: 500px) {
    .logoDiv {
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 70px;
        height: 124px;
        display: block !important;
        border-radius: 0 0 0 30px;
    }

    .logoDiv > div > img {
        position: absolute;
        width: 60px;
        height: 35px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

    }

}