header {
  font-weight: bold;
}

.nav-pills > .nav-item > .nav-link {
  font-weight: bold !important;
}

.active {
  color: var(--lightBlue) !important;
  font-weight: bold;
}

.active:hover {
  font-size: 16px !important;
}

.navlinkCont {
  flex-direction: row-reverse;
}
.nav-link {
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.nav-link:hover {
  color: var(--lightBlue);
  font-size: 1.1rem;
  transition: 0.5s all;
}
.navBarInnerCont {
  max-width: 100%;
  margin: 0 100px;
}

@media screen and (max-width: 991px) {
  .navBarCont {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
  }

  .navlinkCont {
    margin-top: 1rem;
  }
  .navBarInnerCont {
    max-width: 100%;
    margin: auto;
  }
}
