#backgroundCommunityLineImage {
  position: absolute;
  top: 100vh !important;
  right: 1vw;
  z-index: -10;
}

@media screen and (max-width: 991px) {

  #backgroundCommunityLineImage {
    position: relative;
    bottom: -35vh;
    left: -8px;
    z-index: -10;
  }
}