.formCard {
  /* Rectangle 11 */
  width: 100%;
  height: fit-content;
  padding-bottom: 40px;
  border-radius: 17px;
  background: linear-gradient(227deg, rgba(27, 159, 221, 0.08) 0%, rgba(190, 30, 45, 0.07) 100%);
  box-shadow: 8px 8px 26px 0px rgba(0, 0, 0, 0.09);
}

.btnSubmit {
  width: 145px;
  border-radius: 6px;
  border: 1px solid rgba(12, 192, 226, 0.14);
  background: #be1e2d !important;
  color: #ffffff;
  padding: 10px 16px;
  cursor: pointer;
  transition: all 1s !important;
}

input {
  padding-left: 10px;
  height: 50px;
  width: 579px;
  border: none;
  outline: none;
  background-color: transparent !important;
  box-shadow: 0 -1px 10px -2px rgba(155, 155, 155, 0.4);
  border-radius: 10px !important;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  /* identical to box height */
  color: rgba(9, 73, 109, 0.37);
}

textarea {
  padding-left: 10px;
  width: fit-content;
  height: 345px;
  box-shadow: 0 -1px 10px -2px rgba(155, 155, 155, 0.4);
  border-radius: 10px !important;
  background-color: transparent !important;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  /* identical to box height */
  color: rgba(9, 73, 109, 0.37);
}

.btnSubmit:hover {
  background: linear-gradient(-45deg, #ffa3a3, #ff00b3, #ff0000, #ff0077) !important;
  background-size: 400% 400% !important;
  animation: gradient 5s ease infinite !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50% !important;
  }
  50% {
    background-position: 100% 50% !important;
  }
  100% {
    background-position: 0% 50% !important;
  }
}
