.whoWeAreSection {
  color: black;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 16px;
}

#lp-wwas-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 133%;
  /* identical to box height, or 133% */

  letter-spacing: -0.00022em;
}

#findMoreBtn {
  width: 155px;

  background: #be1e2d;
  border-radius: 6px;
  border: 1px solid rgba(12, 192, 226, 0.14);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  letter-spacing: -0.32px;
  color: #ffffff;
  padding: 10px 16px;
}
#findMoreBtn:hover {
  background: linear-gradient(-45deg, #ffa3a3, #ff00b3, #ff0000, #ff0077);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#boardOfOfficialsImg {
  border-radius: 17px;
  width: 95%;
  margin-bottom: 20px;
}

.text-section-card {
  border-radius: 30px;
  position: relative;
  margin-left: auto;
}

@media (min-width: 768px) {
  .text-section-card {
    min-height: 453px;
  }
  #findMoreBtn {
    left: 1rem;
    bottom: 1rem;
  }
}

@media (min-width: 992px) {
  .w-lg-50 {
    width: 50% !important;
  }
  #boardOfOfficialsImg {
    width: 450px;
    height: 453px;
  }
  #findMoreBtn {
    margin-top: 1rem;
    left: 3rem;
    bottom: 3rem;
  }
}

@media (max-width: 992px) {
  .whoWeAreSection {
    flex-wrap: wrap;
  }
  #boardOfOfficialsImg {
    margin-left: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1230px) {
  .white-space-string {
    margin-right: -100px;
  }
  .text-section-card {
    margin-top: -60px;
  }
}

.white-space-string {
  white-space: pre-line;
}
