.b-full {
  height: 512px;
}
.b-full {
  height: auto;
}

.text-color {
  color: var(--darkBlue);
  font-weight: 800;
}

.shadow {
  box-shadow: 10px 10px 8px #888888;
  border-radius: 20px;
  font-family: 'Roboto';
  font-style: Bold;
}

.image {
  height: 400px;
  background-image: url('src/assets/images/samplePost1.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 20px;
}

.text-dec {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: lite;
}

.swiper-pagination {
  background: transparent;
  display: flex;
  justify-content: center;
  padding: 15px;
  position: static;
}

.swiper-pagination-bullet {
  border: none;
  border-radius: 50%;
  width: 2.5vw;
  height: 2.5vw;
  margin: 1vw 0.6vw;
  background: var(--lightBlue);
  opacity: 100;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.swiper-pagination-bullet-active {
  background: var(--darkBlue);
}

@media only screen and (min-width: 768px) {
  .image {
    height: 600px;
  }
}
@media only screen and (min-width: 992px) {
  .image {
    height: 506px;
  }
}
