body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --darkBlue: #09496D;
    --lightBlue: #0177BF;
    --gradiantRed: linear-gradient(132.18deg, #FE5858 29.29%, #DD1F1F 66.83%, #C11416 100%);
    --darkLinear: linear-gradient(132.18deg, #1B9FDD 12.92%, rgba(15, 115, 172, 0.95) 48.26%, #09496D 87.06%);
    --gradiantBlue: linear-gradient(132.18deg, #1077C2 4.46%, #1BA1DE 54.54%, #44CEFD 100%);
    --primary-text-color: #000;
    --secondary-text-color: #FFFFFF;;
    --tertiary-text-color: #BF1E2E;

    --btn-box-shadow: 0px -1px 10px -2px rgba(0, 0, 0, 0.25);;
    --btn-text-color: #fff;
    --text-feild-box-shadow: 0px -1px 10px -2px rgba(155, 155, 155, 0.4);
}